<form action="/do_login" method="post">
  <input id="username" name="username" type="text" value="" />
  <input id="password" name="password" type="password" value="" />
  <input id="login" type="submit" />
</form>
<span><%= flash[:info] %></span>